<div class="row">
<div ng-include src="'app/shared/leftNav.html'"></div>
	<div class="col-lg-4">
	<div>

		<form>
		<div class="form-group">
		<label>Navn</label>
		<input class="form-control" type="text" placeholder="Mike Mikeson"/>
		<br>

		<label>E-mail</label>
		<input class="form-control" type="text" placeholder="mike@gmail.com"/>
		<br>

		<label>Spørgsmål</label>
		<input class="form-control" style="height: 100px;" type="text-area" placeholder="Enter you question here..."/>

		<br>
		<button type="submit" class="btn btn-primary">Send</button>
		</form>
	 <div>
	 </div>
</div>

