<div ng-include src="'app/shared/leftNav.html'"></div>
<div class="container">
	<p class="lead"><b>Klubens historie</b></p>
	<div>
		<pre>
Badmintonafdelingen i KHIF blev stiftet i 1973 med Eskild Karlsen, Verner Johansen og Lise Jørgensen, som første bestyrelse. 
 
Bestyrelsen
Igennem de 42 år badmintonafdelingen har fungeret, har klubben kunnet præstere kun at have 5 formænd.
 
Eskild Karlsen 1973- 1978
Verner Johansen 1978- 1987 (Medlem af bestyrelse 1973 - 1987 ~ 14 år) 
Johan Frederiksen 1987- 1991 (Medlem af bestyrelsen 1975 - 1991 ~ 16 år) 
Per Kragh 1991-1993 (Medlem af bestyrelsen 1989 - 1993 ~ 4 år)
Kristian Karlsen 1993 - 2015 (Medlem af bestyrelsen 1990- 2015 ~ 25 år)
 
Men udover formændene er der mange mennesker der har brugt mange år og rigtig meget tid.
Vi kan nævne Elin Ottosen, som har været i bestyrelsen siden 1987 og stadig sidder der, Frank Pedersen har været med i flere omgange og igen nu aktiv i bestyrelsen, Lise Karlsen som 
har været i bestyrelsen, og været med til opstart af Ungdomsudvalget, og ikke mindst som træner igennem mange år, Gert Kvist har siddet i bestyrelsen fra 1994 til nu med en kort 
pause, og med de fleste år som kasserer, Lisbeth Henriksen har siddet i bestyrelse siden 1995 til nu, og har igennem mange år også fungeret som ungdomstræner. Kristian Karlsen har 
været formand i 22 år, siddet i bestyrelse i 25 år og været træner i 29 år!!! Men dette er bare et lille udpluk af personer som har været meget engagerede og initiativrige i 
bestyrelsesarbejdet.
Bestyrelsen består i dag af: Formand Kristian Karlsen, kasserer Gert Kvist, Frank Pedersen, Lisbeth Henriksen, Niels Bennedsen, Elin Ottosen, og suppleanter er Carsten Ottosen og 
Lotte Jensen.
 
USU
I 1987 besluttede bestyrelsen at lave en underafdeling, som skulle skabe mere for ungdommen.
Ungdomsspilleudvalget (USU) blev født med Nils Sander som primus motor. Nils overlod ansvaret til en god solid gruppe af initiativrige forældre, for at bruge al sin tid og energi på 
at træne børnene, hvilket han gjorde i mange år. I dag hersker der ingen tvivl om, at han er foregangsmanden for mange af os. USU kører fortsat i dag med stor succes. Årets 
tilbagevendende begivenhed for alle ungdomsspillerne er kåringen af årets kammerat/talent/spiller. Det foregår ved finaledagen til klubmesterskaberne, hvor de bliver hyldet i hallen.
USU består i dag af: Alex Aarslew-Jensen, Susanne Søegaard, Jane Heede, Morten Pedersen, Kristian Karlsen og Susanne Karlsen.
 
Fredagsfjer
I februar 2010 blev et nyt tiltag igangsat - Fredagsfjer. 
Et arrangement i USU som tilbyder, at man som ungdomsspiller kan tage sin familie med til en hyggelig badmintonaften, hvor der bliver dystet, og hygget med badmintonvennerne og deres
familier, og der afsluttes med fællesspisning. Det blev fra starten en kæmpe succes, som hurtigt er blevet en super begivenhed, der arrangeres 1-2 gange på en sæson.
 
Cykelløbet
Siden 2003 har vi arrangeret et årligt cykelløb for at samle sponsorpenge ind til ungdomsarbejdet. Ryttere bliver valgt, spurgt, og så skal de selv ud og indhente sponsorer som skal
 støtte hver en km den enkelte rytter kører på en time. Rytterne er en blanding af ungdomsspillere, deres forældre, trænere, erhvervslivet i byen, bylauget og lokale politikere. 
 Sponsorerne kan være erhverv og/eller privat, de bestemmer selv hvor meget de vil støtte med, og tegner en kontrakt med den enkelte rytter. 
Stor tak til de ryttere, der har lagt det store arbejde i at finde sponsorer og ikke mindst deres flid på ruten, når de 60 min køres. 
Det er en kæmpesucces, med hygge for medlemmer, ryttere og byens borger, og ikke mindst for de muligheder det giver til ungdomsarbejdet. 
Stor tak til cykeludvalget der får det til at køre.
 
Motionister 
Vi har igennem tiden kunnet tilbyde vores motionister 2 muligheder for at være motionist spiller i Kr. Hyllinge badminton. Man har kunnet købe en bane i en time, og så var der den 
frie tid om fredagen som igennem mange år er ugens højdepunkt for mange familier -både for voksne og ikke mindst børn. Hygge på badmintonbanen hvor der er plads til alle, gode og 
mindre gode, tykke og smalle – her er altid plads til en til. Ungerne legede i gymnastiksalen hvor der blev svinget i torvene, flettet hår, spillet bold mv., og så er der lige den 3.
 halvleg hvor der igennem tiden er spillet meget kort eller klunset, sammen med en kold øl. 
Miniturnering har været en stærkt tradition, som foregik  i en lang årrække den første fredag i måneden, hvor der bliver lavet turnering efter hvem der er dukket op, og alle spiller 
mod alle. Rigtig hyggeligt. Denne begivenhed er pt lagt lidt på hylden, da fremmødet var for lille. 
Vi kan for tiden kun tilbyde vores motionister at leje en bane.
Der bliver for tiden arbejdet på et nyt koncept i vores fredagstid, hvilket vi ser frem til at få lanceret.
 
 
 
Vinterferie med KHIF badminton 
Vinterferie med KHIF Badminton var nogle fantastiske klubture til Fuglsø Centret ved Ebeltoft igennem nær 10 år. Badmintonafdelingen var alene af sted, sammen med gymnastikafdelingen 
eller sammen med Bramsnæs badminton. Det var familieture, hvor der blev lagt stor vægt på en passende blanding af sportslige aktiviteter, og hyggeligt samvær på tværs af alle 
aldersgrupper. Arrangørerne formåede, under Nina Sylvest’s kyndige ledelse, at skabe plads til den lille mand på 4 år, den dygtige seniorspiller, og til motionisten. For os som 
oplevede de klubture, så er det en dejlig periode at tænke tilbage på... Fælles opvarmning, familiebadminton, Bente Brogaard som kunne sætte fut i os alle på de bonede gulve, de 
sjove lege i salen om aftenen, de smukke omgivelser, bordtennis, prop-spil, kortspil, hygge og sjov på værelserne. 
 
Seniorholdet
Ud over ungdom og motionister har vi også seniorer. Seniorholdet har igennem tiden deltaget i holdturneringer i amtet, men året 1984/85 blev året hvor der skete stor forandring. 
Amtshold blev udvidet med et hold i sjællandskredsen, og ingen tvivl hersker, det var stort! Vi har nu 2 hold med i sjællandskredsen, og vi spiller i serie 1 og 3. 
I 2014 indgik vi seniorsamarbejde med Skibby Badminton, hvor vi sammen tilbyder samtræning 2 gange ugentligt og fælles holdkampe.
Vores kendetegn i badmintonafdelingen er tid til hygge, en bid brød, og i tidens tegn frugt efter træning.
			</pre>
		</div>


</div>