<div class="row">
<div ng-include src="'app/shared/leftNav.html'"></div>

<div class="container">
	<p class="lead"><b>Kontigngent og Stævnegebyrer</b></p>

	<div class="container">
		<pre style="border: none;">
KHIF Badminton har fastsat følgende kontingent satser og stævnegebyrer sæsonen 15/16

Ungdom: 
Dette gebyr for åbne turneringer gælder de 10 første turneringer spilleren tilmelder sig. 
Herefter skal spilleren selv dække den fulde betaling; typisk kr. 90 - 180 pr. række.
Nybegynder 1. sæson Kr. 450,-
2 ugentlige træningsdage Kr. 700,-
Ekstra træning (onsdag) Kr. 300,-
MINIton Kr. 450,-
Gebyr for åbne turneringer Kr. 75,-

Retningslinier for tilmeldning og betaling til turneringer samt anskaffelse af spillerlicenser se   

Se hvorledes du anvender www.badmintonpeople.dk når du skal sikre dig spillerlicens 
Senior :
2 ugentlige træningsdage Kr. 1500,-
Ungsenior (u. 21 år) Kr. 1000,-
Kontigentet skal indbetales på reg.: 1344 konto nr.: 2551283480. Vigtigt at der bliver noteret navn + medlems nr. i emnefeltet.
		</pre>
	</div>
</div>