<div class="row">
<div ng-include src="'app/shared/leftNav.html'"></div>

<div class="col-lg-9">

	<h2>Ny i klubben?</h2>
	<p><b>Træning</b></p>
	<p>Som ny badmintonspiller tilbydes du op til 3 gange træning om ugen. Du får besked af træneren om, hvilke dage og på hvilket tidspunkt du skal træne. Når du går til træning lærer du bl.a. at holde rigtigt på ketsjeren, forskellige slag og spillereglerne. Der ud over lærer du, hvordan man opfører sig på en bane.<p>
	<p>Til at begynde med kan du låne en ketsjer af klubben. Din træner fortæller dig, når træneren synes, du er ’klar’ til at komme ud og spille kamp.<p>
	<p><b>Forældremøder</b></p>
	<p>Vi holder en 4-5 forældre møder i løbet af året hvor man som forældre af et nyt medlem (ungdom) opfordre og er mere end velkommen til at dukke op, her vil der blive svaret på alle de spørgsmål som du ønsker at få besvaret. Det forventes at næste forældremøde er lidt efter opstart (omkring aug. setember).</p>
	<p><b>Stævner og turneringer</b></p>
	<p>Du skal tilmelde dig turneringer på www.badmintonpeople.dk, har du spørgsmål til dette, kan du rette henvendelse til mailadressen: turnering@khif-badminton.dk
 
 
Man kan ikke tilmeldes til stævner uden licens, Klubben betaler ikke for dette. Licens koster ca. kr. 250,00 + kr. 12.00 i gebyr.
 
 
Spillerlicenskøbes på portalen  www.badmintonpeople.dk her skal man oprette sig med mail som bruger id.
 
 
Alle U9- U11- U13- U15- U17 D- U19 C,D spillere skal ikke betale licens</p>